{:main               todomvc.core
 :output-to          "resources/public/js/app.js"}
 :output-dir         "resources/public/js"
 :optimizations      :simple
 :static-fns         true
 :optimize-constants true
 :pretty-print       true
 :externs            ["src/js/externs.js"]
 :closure-defines    {goog.DEBUG false}
 :verbose            true}
